<div class="row">
  <div class="col-md-3"></div>
  <div class="container-fluid">
    <div class="col-md-6">
      <%= form_with(model: board, local: true) do |form| %>
        <% if board.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(board.errors.count, "error") %> prohibited this board from being saved:</h2>

            <ul>
            <% board.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= form.label :"제목" %>
          <%= form.text_field :title, :class => "form-control", :placeholder => "제목" %>
        </div>

        <div class="field">
          <%= form.label :"내용" %>
          <%= form.text_area :content, :class => "form-control", :rows => "8" %>
        </div>

        <div class="field">
          <%= form.label :"파일" %>
          <%= form.file_field :boardimage, :class => "form-control" %>
        </div>
        <br />
        <div class="actions">
          <center>
            <%= form.submit "작성" %>
          </center>
        </div>
        <br />
      <% end %>
      <center>
        <%= link_to '뒤로 가기', boards_path %>
      </center>
    </div>
  </div>
</div>
